@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Our core purpose is to create unmatched experiences for clients and employees</p>
    <p><a href="https://centricconsulting.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            This is Centric. This is what drives us and what we do.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Explore Our Values &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recognize your Coworker</h2>
        <p>Notice a worker going above and beyond? Let everyone know here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p>Make sure to follow us on all of our platforms!</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/CentricConsultingNational">FaceBook &raquo;</a><a class="btn btn-default" href="https://twitter.com/centric">Twitter &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/centric-consulting/">LinkedIn &raquo;</a><a class="btn btn-default" href="https://www.instagram.com/centricconsulting/">Instagram &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">YouTube &raquo;</a></p>
    </div>
</div>